torch
torchvision
torchaudio
opencv-python
ultralytics
mistralai
openai
openai-whisper
pyaudio
pygame
langdetect
gtts
transformers
easyocr
segment_anything
sacremoses
matplotlib
numpy
pandas
Pillow
scipy
typeguard
unidiff
black==21.12b0
uvloop==0.17.0
sentencepiece